.all-countries-view vaadin-text-field {
    background-color: var(--panel-background-color);
    color: var(--text-color);
}

.all-countries-view vaadin-combo-box {
    background-color: var(--panel-background-color);
    color: var(--text-color);
}

[part="text-field"] {
    color: var(--text-color);
}

[part="toggle-button"] {
    color: var(--text-color);
}

.countries-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--background-color);
}