.top-bar {
    background-color: var(--panel-background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
}

.top-bar-logo {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(https://static.broadcom.com/static/img/broadcom-logo.png) center center no-repeat;
}